@import url("asciidoctor.css");

body {
    font-family: serif, sans, sans-serif;
}

p {
    /*font-size: 1.25em;*/
    line-height: 1.3em;
}

div>p,.imageblock>.title,div>.tableblock,.dlist,.olist,.ulist,.stemblock,.admonitionblock {
    width: 75%;
}

.fullwidth {
    width: 100%;
}

.half-width {
    width: 50%
}

/* Don't set sublist width to 75%. */
li>.olist,li>.ulist,td>.olist,td>.ulist {
    width: 100%;
}

/* Some tables need to use the full page width. Set [role="widetable"] on them. */
div>.widetable {
    width: 100%;
}

/* Hack to get list paragraph continuations to not be 75% of previous block.
See exercise 9 at end of ch2.
*/
li p {
    width:100%
}

table.tableblock>caption.title {
    font-size: 0.9em;    
}

table.tableblock.fit-content>caption.title {
    white-space: unset;
    width: unset;
}

.imageblock>.title {
    font-size: 0.9em;
}

.sidebarblock {
    width: 24%;
    float: right;
    clear: right;
    padding: 0.25em;
    margin-bottom: 0.25em;
    page-break-inside: avoid;
    background: none;
    border-style: hidden;
}

.bigside {
    width: 50%;
}

.sidebarblock p {
    font-size: 0.9em;
    text-align: left;
}

.sidebarblock>.content>.title {
    font-size: 1em;
}

.sidebarblock>.content>.imageblock img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.important p {
    font-weight: bold;
}

.gbinfo::before,.inbitcoin::before {
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
}

.sidebarblock p,.sidebarblock .literalblock {
    width: 100%;
}

.quoteblock p {
    width: 100%;
}

